pandas
numpy
rich
matplotlib
tensorflow
opencv-python
torch
torchvision
pillow
albumentations
albumentations[imgaug]
tqdm
scipy
PIL
argparse
cv2
glob
UNET
utils
torch.nn
torch.optim
albumentations.pytorch
os
matplotlib.pyplot
rotate
scipy.ndimage